
/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*These styles will apply to all, but are also easy to override*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;

    --background-color: white;
    --accent-color: #b1b1b1;
    --text-color: #0e0e0e;
    --text-color-lighter: #202020;
}

/*General styles*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
}

h2, p{
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    color: var(--text-color-lighter);
}


/*Header*/
header{
    margin: 2em;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Makes sure that the main element takes up any empty space, pushing the footer to the bottom*/
    flex: 1 0 auto;
}


#game-score-container{
    width: 90%;
    max-width: 500px;
    margin: 2em 0;
}

/*Game*/
.game-grid-item{
    border: 2px solid var(--text-color);
}

/*These styles are used to remove the outer borders of the grid. See the html*/
.no-top-border{
    border-top: 0;
}

.no-left-border{
    border-left: 0;
}

.no-right-border{
    border-right: 0;
}

.no-bottom-border{
    border-bottom: 0;
}

#game{
    padding: 1em;
    aspect-ratio: 1/1;
    background-color: var(--accent-color);
    border-radius: 40px;
}

#game-grid{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border-radius: 30px;
    padding: 0.5em;
    background-color: var(--background-color);
}

/*Tally area*/

#score{
    background-color: var(--accent-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2em;
    padding: 1em;
    border-radius: 40px;
}


/*Footer*/

footer{
    text-align: center;
    padding: 2em;
}

footer p a{
    display: block;
    font-weight: bold;
    color: var(--text-color);
}

/*Media Query: medium sized phones and up (375px and up)*/
/*The site has been modified on smaller phones to make buttons easier to press in exchange of style*/
@media screen and (min-width: 375px) {
    /*header*/
    h1{
        font-size: 4em;
    }
    
    h2, p{
        font-size: 1.5em;
    }

    /*Main*/

    #game{
        padding: 2em;
        border-radius: 50px;
    }

    #game-grid{
        padding: 1em;
    }

    #score{
        padding: 1.5em;
    }

    /*Footer*/
    footer p a {
        display: inline;
    }
}

/*Media Query: Laptops (992px and up)*/
@media screen and (min-width: 992px) {
    #game{
        padding: 3em;
    }
}