
/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*These styles will apply to all, but are also easy to override*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

/*General styles*/
h1{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}


/*Header*/
header{
    margin: 2em;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-grid-item{
    text-align: center;
    text-justify: center;

    border: 1px solid black;
}

#game{
    margin: 2em 0;
    padding: 2em;
    width: 80%;
    max-width: 660px;
    aspect-ratio: 1/1;
}

#game-grid{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


/*Footer*/