
/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*These styles will apply to all, but are also easy to override*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

/*General styles*/
h1{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

h2, p{
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
}


/*Header*/
header{
    margin: 2em;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#game-score-container{
    width: 90%;
    max-width: 660px;
    margin: 2em 0;
}

/*Game*/
.game-grid-item{
    border: 2px solid black;
    background-color: white;
}

/*These styles are used to remove the outer borders of the grid. See the html*/
.no-top-border{
    border-top: 0;
}

.no-left-border{
    border-left: 0;
}

.no-right-border{
    border-right: 0;
}

.no-bottom-border{
    border-bottom: 0;
}

#game{
    padding: 2.5em;
    aspect-ratio: 1/1;
    background-color: rgb(141, 141, 141);
    border-radius: 50px;
}

#game-grid{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    border-radius: 30px;
    padding: 1em;
    background-color: white;
}

/*Tally area*/

#score{
    background-color: rgb(141, 141, 141);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2em;
    padding: 2em 1.5em;
    border-radius: 40px;
}

#wins{
    color: green;
}

#draws{
    color: yellow;
}

#losses{
    color: red;
}

/*Footer*/